In [1]:
# summarize the horse colic dataset
from pandas import read_csv
# load dataset
dataframe = read_csv('horse-colic.csv', header=None,)
# summarize the first few rows
print(dataframe.head())

        0    1                2                   3      4                 5   \
0  surgery  Age  Hospital Number  rectal temperature  pulse  respiratory rate
1        2    1           530101                38.5     66                28
2        1    1           534817                39.2     88                20
3        2    1           530334                38.3     40                24
4        1    9          5290409                39.1    164                84

                           6                 7                 8   \
0  temperature of extremities  peripheral pulse  mucous membranes
1                           3                 3                 ?
2                           ?                 ?                 4
3                           1                 1                 3
4                           4                 1                 6

                      9   ...                  18             19  \
0  capillary refill time  ...  packed cell volume  total protein
1                      2  ...                  45            8.4
2                      1  ...                  50             85
3                      1  ...                  33            6.7
4                      2  ...                  48            7.2

                            20                           21       22  \
0  abdominocentesis appearance  abdomcentesis total protein  outcome
1                            ?                            ?        2
2                            2                            2        3
3                            ?                            ?        1
4                            3                          5.3        2

                23                24                25                26  \
0  surgical lesion  type of lesion 1  type of lesion 2  type of lesion 3
1                2             11300                 0                 0
2                2              2208                 0                 0
3                2                 0                 0                 0
4                1              2208                 0                 0

        27
0  cp_data
1        2
2        2
3        1
4        1

[5 rows x 28 columns]

In [2]:
# summarize the horse colic dataset
from pandas import read_csv
# load dataset
dataframe = read_csv('horse-colic.csv', header=None, na_values='?')
# summarize the first few rows
print(dataframe.head())
# summarize the number of rows with missing values for each column
for i in range(dataframe.shape[1]):
# count number of rows with missing values
    n_miss = dataframe[[i]].isnull().sum()
    perc = n_miss / dataframe.shape[0] * 100
print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

        0    1                2                   3      4                 5   \
0  surgery  Age  Hospital Number  rectal temperature  pulse  respiratory rate
1        2    1           530101                38.5     66                28
2        1    1           534817                39.2     88                20
3        2    1           530334                38.3     40                24
4        1    9          5290409                39.1    164                84

                           6                 7                 8   \
0  temperature of extremities  peripheral pulse  mucous membranes
1                           3                 3               NaN
2                         NaN               NaN                 4
3                           1                 1                 3
4                           4                 1                 6

                      9   ...                  18             19  \
0  capillary refill time  ...  packed cell volume  total protein
1                      2  ...                  45            8.4
2                      1  ...                  50             85
3                      1  ...                  33            6.7
4                      2  ...                  48            7.2

                            20                           21       22  \
0  abdominocentesis appearance  abdomcentesis total protein  outcome
1                          NaN                          NaN        2
2                            2                            2        3
3                          NaN                          NaN        1
4                            3                          5.3        2

                23                24                25                26  \
0  surgical lesion  type of lesion 1  type of lesion 2  type of lesion 3
1                2             11300                 0                 0
2                2              2208                 0                 0
3                2                 0                 0                 0
4                1              2208                 0                 0

        27
0  cp_data
1        2
2        2
3        1
4        1

[5 rows x 28 columns]
> 27, Missing: 0 (0.0%)

In [3]:
# summarize the horse colic dataset
from pandas import read_csv
# load dataset
dataframe = read_csv('horse-colic.csv', header=None, na_values='?')
# summarize the first few rows
print(dataframe.head())
# summarize the number of rows with missing values for each column
for i in range(dataframe.shape[1]):
# count number of rows with missing values
    n_miss = dataframe[[i]].isnull().sum()
    perc = n_miss / dataframe.shape[0] * 100
    print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

        0    1                2                   3      4                 5   \
0  surgery  Age  Hospital Number  rectal temperature  pulse  respiratory rate
1        2    1           530101                38.5     66                28
2        1    1           534817                39.2     88                20
3        2    1           530334                38.3     40                24
4        1    9          5290409                39.1    164                84

                           6                 7                 8   \
0  temperature of extremities  peripheral pulse  mucous membranes
1                           3                 3               NaN
2                         NaN               NaN                 4
3                           1                 1                 3
4                           4                 1                 6

                      9   ...                  18             19  \
0  capillary refill time  ...  packed cell volume  total protein
1                      2  ...                  45            8.4
2                      1  ...                  50             85
3                      1  ...                  33            6.7
4                      2  ...                  48            7.2

                            20                           21       22  \
0  abdominocentesis appearance  abdomcentesis total protein  outcome
1                          NaN                          NaN        2
2                            2                            2        3
3                          NaN                          NaN        1
4                            3                          5.3        2

                23                24                25                26  \
0  surgical lesion  type of lesion 1  type of lesion 2  type of lesion 3
1                2             11300                 0                 0
2                2              2208                 0                 0
3                2                 0                 0                 0
4                1              2208                 0                 0

        27
0  cp_data
1        2
2        2
3        1
4        1

[5 rows x 28 columns]
> 0, Missing: 1 (0.3%)
> 1, Missing: 0 (0.0%)
> 2, Missing: 0 (0.0%)
> 3, Missing: 60 (19.9%)
> 4, Missing: 24 (8.0%)
> 5, Missing: 58 (19.3%)
> 6, Missing: 56 (18.6%)
> 7, Missing: 69 (22.9%)
> 8, Missing: 47 (15.6%)
> 9, Missing: 32 (10.6%)
> 10, Missing: 55 (18.3%)
> 11, Missing: 44 (14.6%)
> 12, Missing: 56 (18.6%)
> 13, Missing: 104 (34.6%)
> 14, Missing: 106 (35.2%)
> 15, Missing: 247 (82.1%)
> 16, Missing: 102 (33.9%)
> 17, Missing: 118 (39.2%)
> 18, Missing: 29 (9.6%)
> 19, Missing: 33 (11.0%)
> 20, Missing: 165 (54.8%)
> 21, Missing: 198 (65.8%)
> 22, Missing: 1 (0.3%)
> 23, Missing: 0 (0.0%)
> 24, Missing: 0 (0.0%)
> 25, Missing: 0 (0.0%)
> 26, Missing: 0 (0.0%)
> 27, Missing: 0 (0.0%)

In [26]:
# statistical imputation transform for the horse colic dataset
from numpy import isnan
from pandas import read_csv
from sklearn.impute import SimpleImputer
# load dataset
dataframe = read_csv('horse-colic.csv', header=None, na_values='?')
# split into input and output elements
data = dataframe.values
ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]

# summarize total missing
print('Missing: %d' % sum(isnan(X).flatten()))
# define imputer

imputer = SimpleImputer(strategy='mean')
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# summarize total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

read_csv('horse-colic.csv',na_values='?')

Missing: 1605
Missing: 0

,2,1,530101,38.5,66,28,3,3.1,?,2.1,...,45,8.4,?.4,?.5,2.2,2.3,11300,0,0.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1.0,1,533886,NaN,120.0,70.0,4.0,NaN,4.0,2.0,...,55.0,65.0,NaN,NaN,3.0,2,3205,0,0,2
295,2.0,1,527702,37.2,72.0,24.0,3.0,2.0,4.0,2.0,...,44.0,NaN,3.0,3.3,3.0,1,2208,0,0,1
296,1.0,1,529386,37.5,72.0,30.0,4.0,3.0,4.0,1.0,...,60.0,6.8,NaN,NaN,2.0,1,3205,0,0,2
297,1.0,1,530612,36.5,100.0,24.0,3.0,3.0,3.0,1.0,...,50.0,6.0,3.0,3.4,1.0,1,2208,0,0,1
298,1.0,1,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,1.0,1.0,3.0,2,6112,0,0,2