# Clustering Challenge

Clustering is an *unsupervised* machine learning technique in which you train a model to group similar entities into clusters based on their features.

In this exercise, you must separate a dataset consisting of three numeric features (**A**, **B**, and **C**) into clusters. Run the cell below to load the data.

In [1]:
import pandas as pd

data = pd.read_csv('data/clusters.csv')
data.head()

          A         B         C
0 -0.087492  0.398000  0.014275
1 -1.071705 -0.546473  0.072424
2  2.747075  2.012649  3.083964
3  3.217913  2.213772  4.260312
4 -0.607273  0.793914 -0.516091

Your challenge is to identify the number of discrete clusters present in the data, and create a clustering model that separates the data into that number of clusters. You should also visualize the clusters to evaluate the level of separation achieved by your model.

Add markdown and code cells as required to create your solution.

> **Note**: There is no single "correct" solution. A sample solution is provided in [04 - Clustering Solution.ipynb](04%20-%20Clustering%20Solution.ipynb).

In [2]:
data

            A         B         C
0   -0.087492  0.398000  0.014275
1   -1.071705 -0.546473  0.072424
2    2.747075  2.012649  3.083964
3    3.217913  2.213772  4.260312
4   -0.607273  0.793914 -0.516091
..        ...       ...       ...
995  1.035455  1.916280  1.535641
996  3.479744  3.747277  3.038687
997  2.422571  1.771780  1.729732
998 -0.237440 -0.029278  0.077298
999  2.402302  2.166136  2.263434

[1000 rows x 3 columns]